//Different color to be used in the styling of the app
$main-bg: #fff;
$secondary-bg: #eeeeee;
$main-color: #000;
$secondary-color: #747474;

$success: #16aa36;
$danger: #df2525;

//Responsive width for different screens
$slime-mobile-width: 400px;
$mobile-width: 740px;
$tablet-width: 1023px;

//Navbar different heights
$navbar-height: 80px;
$navbar-tablet-height: 60px;
$navbar-mobile-height: 40px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;