.task{
    margin: 20px 0;
    padding:10px 20px;
    background: $secondary-bg;

    &__title{
        text-align: center;
        padding: 5px 0;
        &__item{    
            font-size: 1.7rem;
            font-weight: bold;

            @include tablet {
                font-size: 1.2rem;
            }
        }
    }
    
    &__section{
        margin: 10px 0;
        &__contents{
            padding: 0 5px;

            &__title{
                margin-bottom: 1px;
                font-size: 1.3rem;
            }
            &__date{
                margin-top: 1px;
                text-align: right;
            }
            &__content{
                margin-bottom: 10px;
                padding: 15px 0;
                background: $main-bg;
                font-size: 1.2rem;
                display: grid;
                grid-template-columns: 900px 100px 100px;
                overflow-y: hidden;

                @include tablet{
                    grid-template-columns: 200px 50px 50px;
                }

                &__update{
                    color: #0099ff;
                    cursor: pointer;

                    &:hover{
                        color: #0077ff;
                    }
                }

                &__delete{
                    color: #d62316;
                    cursor: pointer;

                    &:hover{
                    color: #af1207;
                    }
                }
            }
            &__emptycontent{
                text-align: center;
                font-size: 1.5rem;
                padding: 20px 0;
                background: $main-bg;

                @include tablet {
                    font-size: 1.2rem;
                }
            }
        }
        
    }

}